* {
    margin: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.active2 {
    background-color: #df2126;
}

.sidebar .menu .active2:hover {
    background-color: #df2126;
}
.content .project-url h3{
        font-weight: 700;
    color: #000000;
    border-bottom: 1px solid #00000070;
    padding-bottom: 6px;
}
.content .project-url h3 i{
    color: #df2126;
}
.content .project-url h4{
      font-weight: 500;
    color: #000000;
        margin-bottom: 1rem;
}
.content .add-new{
    text-align: end;
    margin-top: 2rem;
}
.content .add-new .button{
    background: #df2126;
    padding: 8px 20px;
    border-radius: 100px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}
.form-item label{
        display: block;
}
.form-item input{
        width: 80%;
    padding: 9px 10px;
    border-radius: 5px;
    border: 1px solid #00000066;
}
.form-item {
    margin-top: 1rem !important;
}
.form-section{
    margin-top: 1rem;
}
.form-item button{
     background: #df2126;
         color: white;
    border: none;
    padding: 7px 20px;
    border-radius: 5px;
}


.table {
    margin: inherit;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    width: fit-content;
    max-width: 100%;
    margin-top: 2rem;
}
.table thead tr th {
    padding: 10px 20px;
    font-size: 13px;
    background-color: #FF0000;
    color: white;
    border: 1px solid #000;
}
.table tbody tr td{
        padding: 10px 20px;
           border: 1px solid #000;
}
.table tbody tr td ul{
  display: flex;
      padding-left: 0px;
          justify-content: center;
}
.table tbody tr td ul li{
      margin: 0px 5px;
    list-style: none;
}
.table tbody tr td ul li a i{
    color: #df2126;
}
.table tbody tr td{
    text-align: center;
        align-content: center;
}
.table tbody tr td img{
       width: 54%;
}
.search-form{
    margin-top: 2rem;
}

.search-form form{
    width: 100%;
    justify-content: end;
}
.search-form form input{
    width: 30%;
}
.top-header img{
       width: 50%;
}
.green-edite{
        color: green;
}